<launch>
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" >
    <param name="video_device" value="/dev/video1" />
    <param name="image_width" value="1920" />
    <param name="image_height" value="1080" />
    <param name="frame_rate" value="10"/>
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>
  <node name="runt_rover_mc" pkg="runt_rover" type="ros_DC_motor.py" required="true"/>

  <!-- node name="image_compression" pkg="image_transport" type="republish" args ="raw in:=/usb_cam/image_raw out:=/usb_cam/compressed"/-->
</launch>
